@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');


body {
  font-family: 'Cabin Sketch', sans-serif;
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/4f/e2/fb/4fe2fb41d9ec09298c7768c73d9eab4e.jpg);
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
  
  overflow: hidden;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;

  font-size: 120px;
  font-weight: 700;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* body>img {
  margin: 0 10px;
}

img {
  max-height: 350px;
} */